VITE_API_BASE_URL=https://zolvo-agent.thankfulisland-7e6d96dc.westus.azurecontainerapps.io
VITE_N8N_NEW_LEAD_WEBHOOK=https://jafel-ai.app.n8n.cloud/webhook-test/new-lead
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
